@import "./utils";
@import "../components/Nav/navStyles";
@import "../components/Hero/heroStyles";
@import "../FeaturedServices/productsStyles.scss";
@import "../components/Footer/footer";
@import "../pages/errorPage/errorPage";
@import '../pages/searchpage/searchStyles';
@import '../shared/sharedStyles';
@import '../pages/weightGoal/weightCalc.scss';

body,
::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $textFont;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primaryClr;
  overflow-x: hidden;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;
  all: unset;
  cursor: pointer;
}

img {
  width: 150px;
  height: 150px;
}

button {
  all: unset;
}
