@mixin flex($direction:row, $horizontal:center, $vertical:center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $horizontal;
  align-items: $vertical;
}

@mixin grid($horizontal: center, $vertical: center) {
  display: grid;
  place-content: $horizontal;
  align-items: $vertical;
}

/* lg screens navbar styles */
.nav-wrapper {
  z-index: 60;
  background-color: $primaryClr;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: $shadow;
  height: min-content;
  .nav-wrapper-center {
    @include flex(row, space-between, center);
    padding: 1.5rem;
    span {
      color: $textClr;
    }
    .links {
      display: none;
      .link {
        @include flex(row, center, center);
        cursor: pointer;
      }
    }
    .header {
      font-family: $textFont;
    }
    .hamburger-icon {
      color: $linksText;
      cursor: pointer;
      @include grid(center, center);
      font-size: x-large;
    }
  }
}

/* mobile screens navbarr styles */
.mobile-links {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: $primaryClr;
  padding: 0.5rem 0;
  box-shadow: $shadow;
  .links {
    @include flex(column, center, flex-start);
    align-items: normal;
    height: 100%;
    position: relative;
    li {
      padding: 0.9rem 1rem;
      margin: 0 0.5rem;
      color: $linksText;
      cursor: pointer;
      @include flex(row, center, center);
      border-radius: 4px;
      &:hover {
        transition: 0.07s ease-in-out;
        background-color: $textClr;
        color: $primaryClr;
      }
      .link.search {
        @include flex(row, flex-start, center);
        .search-icon {
          @include grid(center, center);
          margin-right: 0.5rem;
        }
      }
    }
    .btn-clicked {
      background-color: $textClr;
      color: $primaryClr;
    }
    .close-btn {
      position: absolute;
      top: 13%;
      right: 4%;
      font-size: 1.8rem;
      padding: 0.5rem 1rem;
      border-radius: 50%;
      display: grid;
      place-content: center;
      color: $primaryClr;
      font-weight: bold;
      background-color: $textClr;
      cursor: pointer;
    }
  }
  padding-top: 0.5rem;
  transition: 0.35s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.mobile-links.show-links {
  transform: translateY(0);
}

.mobile-links.hide-links {
  transform: translateX(100%);
}

@media screen and (min-width: 700px) {
  .nav-wrapper .nav-wrapper-center {
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    .links {
      @include flex(row, space-evenly, center);
      gap: 2rem;
      color: $linksText;
    }
    .hamburger-icon {
      display: none;
    }
  }
  .mobile-links {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .nav-wrapper .nav-wrapper-center {
    padding: 1.7rem 4.5rem;
  }
}
